# Build
bin/
obj/

# User-specific
*.user
*.suo
*.userosscache
*.sln.docstates

# Logs
*.log

# VS / VS Code
.vs/
.vscode/

# Rider
.idea/

# OS
.DS_Store
Thumbs.db

# Env
.env

# Test / coverage
TestResults/
coverage/
*.coverage
*.coveragexml

# NuGet
*.nupkg

# Docker
postgres_data/